<!--
<footer>
    <div class=”footer-content”>
        <h3 align="center">Foolish Developer</h3>
      <ul class=”socials”>
        <li><a href=”#”> <i class="fab fa-facebook"></i></a></li>
        <li><a href=”#”><i class="fab fa-twitter"></i></a></li>
        <li><a href=”#”><i class="fab fa-google-plus"></i></a></li>
        <li><a href=”#”><i class="fab fa-youtube"></i></a></li>

     </ul>
        <ul class="socials">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a href="#">Foolish Developer</a> </p>
        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </div>
    </div>
</footer> 
<!--Footer section-->
<!--Footer section-->
<footer id="footer">
            
    <div class="footer-top  " >

      <div class="container  d-md-flex ">
        
        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Donate</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        
        </div>
        <p style="margin-left: 700px; font-size: 50px;">iDOnation</p>
      </div>
    </div>
  
    <div class="container d-md-flex ">
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="fab fa-twitter" style="font-size:24px"></i></a>
        <a href="#" class="facebook"><i class="fab fa-facebook-square" style="font-size:24px"></i></a>
        <a href="#" class="instagram"><i class="fab fa-instagram" style="font-size:24px"></i></a>
        <a href="#" class="WhatsApp"><i class="fab fa-whatsapp" style="font-size:24px"></i></a>
        <a href="#" class="linkedin"><i class="fab fa-linkedin" style="font-size:24px"></i></a>
      </div>
    </div>
  </footer>
  
  <!-- End Footer -->
  