
<div class="container">
    <div class="card">
        <img src="../assets/photo1.jpg" alt="Avatar" style="width:100%">
        <div>
          <h4><b>NGO 1</b></h4>
          <p>Architect & Engineer</p>
          <button routerLink="/addDonation"class="button">Donate</button>
    
        </div>
      </div>
    
      <div class="card" >
        <img src="../assets/photo2.jpg" alt="Avatar" style="width:100%">
        <div>
          <h4><b>NGO 2</b></h4>
          <p>Architect & Engineer</p>
          <button routerLink="/addDonation"class="button">Donate</button>
        </div>
      </div>
    
      <div class="card" >
        <img src="../assets/wall1.jpg" alt="Avatar" style="width:100%">
        <div >
          <h4><b>NGO 3</b></h4>
          <p>Architect & Engineer</p>
          <button routerLink="/addDonation"class="button">Donate</button>
    
        </div>
      </div>
    </div>
