/* Style for the panel */
.custom{

    margin:  auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #f51919;
    border-radius: 5px;
}

.panel-heading {
    background-color: #82c0f7;
    color: #fff;
    padding: 15px;
    border-radius: 0;
}


.table {
    background-color: #f2f7fc;

    width: 100%;
    border-collapse: collapse;
}
.table th {
    background-color: #82c0f7;
    color: #fff;
    text-align: left;
    padding: 8px;
}

.table td {
    
    padding: 8px;
}

button {
    margin-right: 10px;
}

.ngo-list {
    display: block;
}

.ngo-details {
    display: none;
}